@charset "utf-8";

body,html,#wrap,#container,#contents,main {width:100%;height: auto;}
body {background:#e2dfdd;height:100vh;overflow: hidden;}
body.size {height:auto;overflow:unset;}

body::-webkit-scrollbar{width:8px;}
body::-webkit-scrollbar-thumb {background-color:rgba(0,0,0,0.3); border-radius:10px;}
body::-webkit-scrollbar-track {background-color:transparent;}

.intro_wrap {position: absolute;top: 0;left: 0;width:100%;height:100vh;font-size:10px;background:#242c35;transition: top 0.8s 1.3s;z-index: 100;}
.intro_wrap .intro_text_wrap {width:100%;height:100%;}
.intro_wrap .intro_text_wrap .text_wrap {display: flex;align-items: center;justify-content: center;width:100%;height:100%;}
.intro_wrap .intro_text_wrap .text_wrap strong {display:block;font-family:'Oswald';font-size:18rem;font-weight:500;color:#fff;line-height:0.93;overflow:hidden;}
.intro_wrap .intro_text_wrap .text_wrap strong .char {display: inline-block;transform:translateY(100%);}
.intro .intro_wrap {top: -100vh;}


/*header*/
header {position:fixed;top:0;left:0;width:100%;height:52px;z-index:9999;transform:translateY(-100%);transition:0.8s 1.5s;}
.intro header {transform:translateY(0);}

.section_wrap {}

/*section1*/
.section1 {position:relative;width: 100%;transition:top 0.8s 1.3s;padding-bottom: 250px;overflow: hidden;}
.section1 .conwrap {width:97%;/* max-width:1765px; */margin:0 auto;}
.section1 .conwrap .right_t_text {display:flex;justify-content:flex-end;padding: 135px 120px 0 0;}
.section1 .conwrap .right_t_text span {display:inline-block;font-family:'Poppins';font-size:14px;line-height:1.8;letter-spacing:-0.025em;}
.section1 .conwrap .left_text {padding: 230px 0 0 120px;}
.section1 .conwrap .left_text p {font-size:14px}
.section1 .conwrap .left_text .skills_list {display: flex;margin-top:10px;}
.section1 .conwrap .left_text .skills_list li {font-size:15px;font-weight:500;color:#032228;line-height:37px;padding:0 17px;border:1px solid #032228;border-radius:50vh;}
.section1 .conwrap .left_text .skills_list li + li {margin-left:7px;}
.section1 .conwrap .slide_text_wrap {position: relative;left: 50%;width: 100vw;margin-left: -50vw;margin-top:95px;overflow: hidden;}
.section1 .conwrap .slide_text_wrap .inner {display: flex;width: 568vw;animation:slideText 35s infinite linear;}
.section1 .conwrap .slide_text_wrap strong {display: inline-block;width: 284vw;font-size: 24.3vw;font-weight:200;color:#032228;letter-spacing:-0.025em;line-height: 0.72;}
@keyframes slideText {
  from   { transform: translateX(0%); }
  to { transform: translateX(-284vw); }
}
.section1 .conwrap .right_img_g {display:flex;justify-content: flex-end;margin-top: 320px;}
.section1 .conwrap .right_img_g .inner {width:50%;padding-left:25px;}
.section1 .conwrap .right_img_g .top_text {margin-left: -12px;}
.section1 .conwrap .right_img_g .top_text > div {overflow: hidden;}
.section1 .conwrap .right_img_g .top_text > div strong {display:block;font-size: 9.25vw;font-weight:500;color:#032228;line-height:1;letter-spacing:-0.025em;}
.section1 .conwrap .right_img_g .right_img {margin-top: 15px;}
.section1 .conwrap .right_img_g .right_img > div img {max-width:100%}

/*section2*/
.section2 {padding-bottom: 0;}
.section2 .section_title {position: relative;text-align: center;padding-top:145px;}
.section2 .section_title:before {content:"";position: absolute;top:0;left:50%;width:2px;height:106px;background: #032228;margin-left:-1px;}
.section2 .section_title strong {display: inline-block;font-size:44px;font-weight:500;color:#032228;letter-spacing:-0.025em;}
.section2 .conwrap {width: 100%;/* max-width:1765px; */margin: 90px auto 0;}
.section2 .conwrap .portfolio_list {}
.section2 .conwrap .portfolio_list li {position: sticky;top: 0;left: 0;width: 100%;min-height: 100vh;padding: 100px 1.5% 0;display:flex;background: #e2dfdd;}
.section2 .conwrap .portfolio_list li + li {box-shadow: 2px -20px 60px 4px rgba(0,0,0,0.1);}
.section2 .conwrap .portfolio_list li .text_wrap {width:50%;}
.section2 .conwrap .portfolio_list li .text_wrap .num {display:block;font-size:18px;letter-spacing:-0.025em;color:#032228;}
.section2 .conwrap .portfolio_list li .text_wrap .title {margin-top:6px;}
.section2 .conwrap .portfolio_list li .text_wrap .title strong {position:relative;display:inline-block;font-size: 7.3vw;font-weight:500;color:#032228;line-height:1.2;letter-spacing:-0.065em;overflow: hidden;}
.section2 .conwrap .portfolio_list li .text_wrap .title strong:before,
.section2 .conwrap .portfolio_list li .text_wrap .title strong:after {content:"";display:block;position:absolute;bottom:0;left:0;width:0%;height:9px;background:#032228;transition:0.3s;} 
.section2 .conwrap .portfolio_list li .text_wrap .info_text {padding: 115px 0 0 140px;}
.section2 .conwrap .portfolio_list li .text_wrap .info_text .info {font-family:'Noto Sans KR';font-size:21px;font-weight:500;color:#000;line-height:1.2;}
.section2 .conwrap .portfolio_list li .text_wrap .info_text .info span {display:block;font-size:18px;font-weight:400;color:#383838;margin-top: 26px;}
.section2 .conwrap .portfolio_list li .text_wrap .info_text .link_btn {margin-top: 45px;}
.section2 .conwrap .portfolio_list li .text_wrap .info_text .link_btn a {position:relative;display:inline-block;font-size:22px;letter-spacing:-0.025em;color:#000;overflow:hidden;}
.section2 .conwrap .portfolio_list li .text_wrap .info_text .link_btn a:before,
.section2 .conwrap .portfolio_list li .text_wrap .info_text .link_btn a:after {content:"";display:block;position:absolute;bottom:0;right:0;width:100%;height:1px;background:#000;}
.section2 .conwrap .portfolio_list li .text_wrap .info_text .link_btn a:after {right:auto;left:0;width:0%;}
.section2 .conwrap .portfolio_list li.on .text_wrap .info_text .link_btn a:before {width:0%;transition:width 0.3s;}
.section2 .conwrap .portfolio_list li.on .text_wrap .info_text .link_btn a:after {width:100%;transition:width 0.3s 0.3s;}
.section2 .conwrap .portfolio_list li .thumb_wrap {width:50%;padding-left:25px;}
.section2 .conwrap .portfolio_list li .thumb_wrap > a {position: relative;display:block;width:100%;height: 84vh;overflow:hidden;}
.section2 .conwrap .portfolio_list li .thumb_wrap > a .bg img {width:100%;height: 100%;object-fit: cover;transition:0.9s;}
.section2 .conwrap .portfolio_list li.animate.on .thumb_wrap > a .bg img {transform:scale(1.05);}
.section2 .conwrap .portfolio_list li .thumb_wrap > a .logo {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.section2 .conwrap .portfolio_list li.left_d {flex-direction: column;align-items: flex-end;margin: 234px 0 0;}
.section2 .conwrap .portfolio_list li.left_d .top_title {width: 85%;}
.section2 .conwrap .portfolio_list li.left_d .top_title .num {display:block;font-size:18px;letter-spacing:-0.025em;color:#032228;}
.section2 .conwrap .portfolio_list li.left_d .top_title .title {margin-top:6px;}
.section2 .conwrap .portfolio_list li.left_d .top_title .title strong {position:relative;display:inline-block;font-size: 7.3vw;font-weight:500;color:#032228;line-height:1.2;letter-spacing:-0.065em;}
.section2 .conwrap .portfolio_list li.left_d .top_title .title strong:before,
.section2 .conwrap .portfolio_list li.left_d .top_title .title strong:after {content:"";display:block;position:absolute;bottom:0;right:0;width:100%;height:9px;background:#032228;transition:width 0.3s;} 
.section2 .conwrap .portfolio_list li.left_d .top_title .title strong:after {width:0%;right:auto;left:0;}
.section2 .conwrap .portfolio_list li.left_d.on .top_title .title strong:before {width:0%}
.section2 .conwrap .portfolio_list li.left_d.on .top_title .title strong:after {width:100%;transition-delay:0.25s;}
.section2 .conwrap .portfolio_list li.left_d .bottom_con {display:flex;align-items:flex-start;width: 84%;margin-top:60px;}
.section2 .conwrap .portfolio_list li.left_d .bottom_con .thumb_wrap {padding-left:0;}
.section2 .conwrap .portfolio_list li.left_d .bottom_con .text_wrap .info_text {padding:20px 0 0 130px;}

/*section3*/
.section3 {position: relative;padding: 220px 0 350px;background: #e2dfdd;}
.section3 .conwrap {display:flex;align-items: flex-start;width:97%;/* max-width:1765px; */margin:0 auto;}
.section3 .conwrap .con_title {display: flex;align-items: center;width:33%;font-size:26px;color:#4e4e4e;letter-spacing:-0.025em;}
.section3 .conwrap .con_title span {display: inline-block;font-family:'Noto Sans KR';font-size:16px;margin-left: 8px;}
.section3 .conwrap .project_list_g {width:67%;}
.section3 .conwrap .project_list_g ul {}
.section3 .conwrap .project_list_g ul li {border-bottom:1px solid #bcbcbc;}
.section3 .conwrap .project_list_g ul li:nth-child(1) {border-top:1px solid #bcbcbc;}
.section3 .conwrap .project_list_g ul li a {display:block;padding:25px 0;}
.section3 .conwrap .project_list_g ul li .title {position: relative;display: inline-block;font-family:"Poppins","Noto Sans KR";font-size: 17px;font-weight:400;color:#4e4e4e;}
.section3 .conwrap .project_list_g ul li .content {height: 0;overflow: hidden;transition:0.5s;}
.section3 .conwrap .project_list_g ul li .content strong {display: block;font-size: 15px;font-weight: 400;margin-top: 13px;opacity:0;transform:translateY(10px);transition:0.5s 0.2s;}
.section3 .conwrap .project_list_g ul li .content strong em {font-size:13px;}
.section3 .conwrap .project_list_g ul li .content p {font-size: 13px;font-weight: 500;margin-top: 6px;opacity:0;transform:translateY(10px);transition:0.5s 0.3s;} 
.section3 .conwrap .project_list_g ul li:hover .content {height:63px;}
.section3 .conwrap .project_list_g ul li:hover .content strong,
.section3 .conwrap .project_list_g ul li:hover .content p {opacity:1;transform:translateY(0);}

/*footer*/
footer {}
footer .footer_wrap {width:97%;/* max-width:1765px; */margin:0 auto;}
footer .footer_wrap .email_g {}
footer .footer_wrap .email_g a {font-family:'Barlow Condensed';font-size:185px;font-weight:600;color:#000;}
footer .footer_wrap .email_g a span {position:relative;display:inline-block;overflow: hidden;}
footer .footer_wrap .email_g a span:before,
footer .footer_wrap .email_g a span:after {content:"";display:block;position:absolute;bottom:0;left:0;width:0;height:10px;background:#000;transition:0.3s;}
footer .footer_wrap .footer_text_g {padding: 248px 0 50px;}
footer .footer_wrap .footer_text_g ul {display:flex;align-items:flex-end;justify-content:space-between;}
footer .footer_wrap .footer_text_g ul li {font-size:26px;color:#000;line-height:1.1;}
footer .footer_wrap .footer_text_g ul li:last-child {text-align:right;}

/*animate css*/
.section1 .conwrap .right_img_g .top_text > div strong {transform:translateY(100%);transition:0.8s;}
.section1 .conwrap .right_img_g .top_text.animate > div strong,
.section1 .conwrap .right_img_g .top_text.in-view > div strong {transform:translateY(0);}
.section2 .section_title:before {height:0;transition:0.5s;}
.section2 .section_title strong {opacity:0;transform:translateY(-30px);transition:0.7s 0.2s;}
.section2 .section_title.animate:before {height:106px;}
.section2 .section_title.animate strong {opacity:1;transform:translateY(0);}
.section2 .conwrap .portfolio_list li.animate .text_wrap .title strong:before,
.section2 .conwrap .portfolio_list li.in-view .text_wrap .title strong:before {width:100%;}
.section2 .conwrap .portfolio_list li.animate.on .text_wrap .title strong:before,
.section2 .conwrap .portfolio_list li.in-view.on .text_wrap .title strong:before {transform:translateX(100%);}
.section2 .conwrap .portfolio_list li.animate.on .text_wrap .title strong:after,
.section2 .conwrap .portfolio_list li.in-view.on .text_wrap .title strong:after {width:100%;transition-delay:0.25s;}
.section2 .conwrap .portfolio_list li .thumb_wrap > a .bg img {transform:scale(1.07);transition:0.8s;}
.section2 .conwrap .portfolio_list li.animate .thumb_wrap > a .bg img,
.section2 .conwrap .portfolio_list li.in-view .thumb_wrap > a .bg img {transform:scale(1);}
.section3 .conwrap .project_list_g ul li {opacity:0;transform:translateY(30px);transition:0.8s;}
.section3 .conwrap .project_list_g ul li.animate,
.section3 .conwrap .project_list_g ul li.in-view {opacity:1;transform:translateY(0);}

footer .footer_wrap .email_g.animate a span:before,
footer .footer_wrap .email_g.in-view a span:before {width:100%;}
footer .footer_wrap .email_g.animate a:hover span:before,
footer .footer_wrap .email_g.in-view a:hover span:before {transform:translateX(100%);}
footer .footer_wrap .email_g.animate a:hover span:after,
footer .footer_wrap .email_g.in-view a:hover span:after {width:100%;transition-delay:0.25s;}


/*1080px*/
@media screen and (max-width:1080px){
    header .logo {top:15px;left:1.5%;}

    .section1 .conwrap .right_img_g,
    .section2 .conwrap .portfolio_list li,
    .section3 .conwrap {display:block;}      

    .section1 .conwrap .right_img_g .inner {width:70%;padding-left:0;}
    .section1 .conwrap .right_img_g .top_text {margin-left:0;}
    .section2 .conwrap .portfolio_list li.left_d .bottom_con {flex-wrap: wrap;flex-direction: column-reverse;}
    .section2 .conwrap .portfolio_list li .text_wrap .info_text,
    .section2 .conwrap .portfolio_list li .thumb_wrap,
    .section2 .conwrap .portfolio_list li.left_d .bottom_con .text_wrap .info_text {padding-left:0;}

    .section2 {padding-bottom: 0;}
    .section2 .conwrap .portfolio_list li .text_wrap,
    .section2 .conwrap .portfolio_list li .thumb_wrap {width:100%;}
    .section2 .conwrap .portfolio_list li .text_wrap .info_text {padding-top:45px;}
    .section2 .conwrap .portfolio_list li .text_wrap .title strong,
    .section2 .conwrap .portfolio_list li.left_d .top_title .title strong {font-size:90px;}
    .section2 .conwrap .portfolio_list li .thumb_wrap {margin-top:60px;}
    .section2 .conwrap .portfolio_list li.left_d {margin:135px 0;}
    .section2 .conwrap .portfolio_list li.left_d .top_title,
    .section2 .conwrap .portfolio_list li.left_d .bottom_con {width:100%}

    .section3 {padding-bottom:180px;}
    .section3 .conwrap .project_list_g {margin-top:80px;}
    .section3 .conwrap .con_title,.section3 .conwrap .project_list_g {width:100%;}


    footer .footer_wrap .footer_text_g {padding:195px 0 50px;}
    footer .footer_wrap .email_g a {font-size:85px;}
}
@media screen and (max-width:767px){
    header .logo {width:50px;height:17px;}

    .intro_wrap .intro_text_wrap .text_wrap strong {font-size:75px;}

    .section1 .conwrap .right_t_text {padding:105px 0 0 120px;}
    .section1 .conwrap .left_text {padding:100px 0 0;}
    .section1 .conwrap .left_text .period_g span {font-size:13px;}
    .section1 .conwrap .left_text .period_g span + span {padding-left:71px;}
    .section1 .conwrap .left_text .period_g span + span:before {width:66px;}
    .section1 .conwrap .right_img_g {margin-top:200px;}
    .section1 .conwrap .right_img_g .inner {width:100%;}
    .section1 .conwrap .right_img_g .top_text {font-size:55px;}
    .section1 .conwrap .slide_text_wrap .inner {width:3504px;}
    .section1 .conwrap .slide_text_wrap strong {width:1752px;font-size:150px;}

	.section2 .conwrap .portfolio_list li {position: relative;}
    .section2 .conwrap .portfolio_list li .text_wrap .num {font-size:13px;}
    .section2 .conwrap .portfolio_list li .text_wrap .title strong, 
    .section2 .conwrap .portfolio_list li.left_d .top_title .title strong {font-size:54px;}
    .section2 .conwrap .portfolio_list li .text_wrap .title strong:before, 
    .section2 .conwrap .portfolio_list li .text_wrap .title strong:after {height:6px;}
    .section2 .conwrap .portfolio_list li .text_wrap .info_text .info {font-size:16px;}
    .section2 .conwrap .portfolio_list li .text_wrap .info_text .info span {font-size:13px;}
    .section2 .conwrap .portfolio_list li .text_wrap .info_text .link_btn a {font-size:15px;}
    .section2 .conwrap .portfolio_list li.left_d {margin:105px 0}

    .section3 {padding: 100px 0 200px;}
    .section3 .conwrap .con_title {font-size:16px;}
    .section3 .conwrap .con_title span {font-size:13px;}
    .section3 .conwrap .project_list_g {margin-top:30px;}
    .section3 .conwrap .project_list_g ul li {padding:15px 0;}
    .section3 .conwrap .project_list_g ul li .title {font-size:14px;}

    footer .footer_wrap .email_g a {font-size:45px;}
    footer .footer_wrap .email_g a span:before, footer .footer_wrap .email_g a span:after {width:100% !IMPORTANT;height:4px;}
    footer .footer_wrap .footer_text_g {padding:145px 0 30px;}
    footer .footer_wrap .footer_text_g ul li {font-size:14px;}


}